<ion-view view-title="Road Fixer">

  <ion-nav-buttons side="left">
    <button ng-click="centerOnMe();justVibrate()" class="button button-icon icon ion-pinpoint"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="alert();justVibrate()" class="button button-icon icon ion-android-alert"></button>
  </ion-nav-buttons>
  <ion-content>
    <div id="map" style="width: 100%;height: 100%;" data-tap-disabled="true"></div>
  </ion-content>

<!--  <ion-content data-tap-disabled="true">

    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>

  </ion-content> -->
</ion-view>
